html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: "Exo 2", Arial, sans-serif; font-size: 12px; line-height: 1.4; }
body.no-scroll { overflow: hidden; }

.h2 { font-size: 36px; text-transform: uppercase; color: white; font-weight: normal; }

.h3 { margin-bottom: 30px; text-align: center; font-size: 24px; font-weight: 300; text-transform: uppercase; color: #3f3f3f; }

.h4 { margin-bottom: 20px; font-size: 18px; font-weight: 500; color: #3f3f3f; text-transform: uppercase; }

.link { display: inline-block; padding: 0 20px; height: 38px; line-height: 38px; border: 1px solid #fe662a; color: #fe662a; text-decoration: none; font-size: 12px; text-transform: uppercase; -moz-transition: background 200ms, color 200ms; -o-transition: background 200ms, color 200ms; -webkit-transition: background 200ms, color 200ms; transition: background 200ms, color 200ms; }
.link:hover { background: #fe662a; color: #050303; }

.box { *zoom: 1; }
.box:after { content: " "; display: table; clear: both; }

.col50 { float: left; width: 50%; }

.btn { height: 40px; background: #fe662a; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; font-size: 12px; text-transform: uppercase; color: white; }
.btn:hover { background: #fe5411; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.topper { background: url(../img/bg.jpg); }
.topper__in { width: 980px; margin: 0 auto; }
.topper__in .link { margin-right: 12px; }
.topper__text { margin-bottom: 35px; font-size: 20px; color: white; font-weight: 200; }

.header { margin-bottom: 30px; }
.header__in { *zoom: 1; width: 980px; margin: 0 auto; }
.header__in:after { content: " "; display: table; clear: both; }

.logo { float: left; padding: 12px 0; }
.logo a { display: block; font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-sca0bdfb832.png') 0 -148px no-repeat; width: 103px; height: 69px; }

.nav { float: right; padding-top: 55px; }
.nav ul { *zoom: 1; }
.nav ul:after { content: " "; display: table; clear: both; }
.nav ul li { float: left; font-size: 15px; color: white; line-height: 40px; }
.nav ul li a { display: block; padding: 0 11px 0 22px; margin-right: 11px; height: 40px; line-height: 40px; font-size: 12px; text-transform: uppercase; color: white; text-decoration: none; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; }
.nav ul li a:hover { background: #2a4f84; }
.nav ul li a i { display: inline-block; margin-right: 10px; }
.nav ul li a i.catalog-ico { background: url('../img/icons-sca0bdfb832.png') 0 0 no-repeat; width: 12px; height: 10px; }
.nav ul li a i.callback-ico { background: url('../img/icons-sca0bdfb832.png') 0 -227px no-repeat; width: 12px; height: 12px; }

.benefits { *zoom: 1; padding-top: 55px; padding-bottom: 35px; margin-left: -15px; }
.benefits:after { content: " "; display: table; clear: both; }
.benefits__item { float: left; width: 230px; margin-left: 15px; }
.benefits__img { min-height: 70px; margin-bottom: 20px; line-height: 1; font-size: 0; }
.benefits__img img { vertical-align: bottom; }
.benefits__text { opacity: 0.8; font-size: 14px; color: white; }

.fixed-header { position: fixed; top: 0; left: 0; right: 0; height: 62px; background: rgba(41, 81, 137, 0.9); z-index: 999; visibility: hidden; opacity: 0; -moz-transition: opacity 300ms; -o-transition: opacity 300ms; -webkit-transition: opacity 300ms; transition: opacity 300ms; }
.fixed-header.is-open { visibility: visible; opacity: 1; }
.fixed-header .wrap { *zoom: 1; width: 980px; margin: 0 auto; }
.fixed-header .wrap:after { content: " "; display: table; clear: both; }
.fixed-header .nav { padding-top: 0; }
.fixed-header .nav ul li { height: 62px; line-height: 62px; }
.fixed-header .nav ul li a { height: 62px; line-height: 62px; }
.fixed-header__logo { float: left; padding-top: 6px; }
.fixed-header__logo a { display: block; background: url('../img/icons-sca0bdfb832.png') 0 -92px no-repeat; width: 29px; height: 46px; }

.catalog { padding: 50px 0 55px; }
.catalog__in { width: 980px; margin: 0 auto; }
.catalog__list { display: table; width: 100%; border-collapse: collapse; }
.catalog__row { display: table-row; }
.catalog__item { position: relative; display: table-cell; border: 1px solid #eaeaea; text-align: center; }
.catalog__item:hover .catalog__img img { opacity: 0.5; }
.catalog__item:hover .catalog__title { -moz-transform: translateY(-90px); -ms-transform: translateY(-90px); -webkit-transform: translateY(-90px); transform: translateY(-90px); }
.catalog__item:hover .catalog__descr { visibility: visible; opacity: 1; }
.catalog__item:hover .catalog__request { visibility: visible; opacity: 1; }
.catalog__img { position: relative; display: block; padding-top: 20px; text-decoration: none; font-size: 0; }
.catalog__img img { -moz-transition: opacity 200ms; -o-transition: opacity 200ms; -webkit-transition: opacity 200ms; transition: opacity 200ms; }
.catalog__title { min-height: 52px; padding: 20px 0 0; color: #1b3349; font-weight: 700; font-size: 14px; text-transform: uppercase; -moz-transition: -moz-transform 200ms; -o-transition: -o-transform 200ms; -webkit-transition: -webkit-transform 200ms; transition: transform 200ms; }
.catalog__descr { visibility: hidden; opacity: 0; position: absolute; bottom: 84px; left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); text-transform: uppercase; color: #26b2ec; font-size: 12px; text-decoration: none; -moz-transition: opacity 400ms; -o-transition: opacity 400ms; -webkit-transition: opacity 400ms; transition: opacity 400ms; }
.catalog__descr:before { content: ""; position: absolute; bottom: 0; left: 0; right: 0; height: 1px; background: #26b2ec; -moz-transition: opacity 200ms; -o-transition: opacity 200ms; -webkit-transition: opacity 200ms; transition: opacity 200ms; }
.catalog__descr:hover:before { opacity: 0; }
.catalog__request { visibility: hidden; opacity: 0; position: absolute; bottom: 10px; left: 10px; right: 10px; height: 40px; line-height: 40px; background: #fe662a; font-size: 12px; text-transform: uppercase; text-decoration: none; color: white; -moz-transition: opacity 400ms, background 200ms; -o-transition: opacity 400ms, background 200ms; -webkit-transition: opacity 400ms, background 200ms; transition: opacity 400ms, background 200ms; }
.catalog__request:hover { background: #fe5411; }

.deliver { padding: 50px 0 60px; background: #fafafa url(../img/map.png) 50% 50% no-repeat; }
.deliver__in { width: 980px; margin: 0 auto; }
.deliver__list { padding: 0 28px; }
.deliver__price { text-align: center; }
.deliver__price a { display: inline-block; height: 40px; line-height: 40px; padding: 0 18px; background: #2a4f84; font-size: 12px; text-transform: uppercase; color: white; text-decoration: none; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; }
.deliver__price a:hover { background: #244371; }

.subtitle { margin-bottom: 55px; text-align: center; font-weight: 300; text-transform: uppercase; color: #a7a9ac; font-size: 14px; }

.list { margin-bottom: 35px; }
.list li { position: relative; padding-left: 28px; margin-top: 15px; font-size: 14px; color: #3f3f3f; }
.list li:first-child { margin-left: 0; }
.list li:before { content: ""; position: absolute; top: 5px; left: 0; width: 7px; height: 7px; background: #fe662a; }

.economy { padding: 55px 0 45px; }
.economy__in { width: 980px; margin: 0 auto; }
.economy__list { *zoom: 1; margin-left: -40px; }
.economy__list:after { content: " "; display: table; clear: both; }
.economy__item { float: left; width: 300px; margin-left: 40px; }
.economy__item > p { font-size: 14px; color: #3f3f3f; }
.economy__img { height: 186px; margin-bottom: 20px; background: #d7d7d7; }

.slick { padding-top: 50px; }

.slick-dots { position: absolute; top: 0; left: 0; right: 0; }
.slick-dots li { display: inline-block; margin: 0 11px; }
.slick-dots li button { font: 0/0 a; text-shadow: none; color: transparent; width: 7px; height: 7px; background: #dedede; }
.slick-dots li.slick-active button { background: #2a4f84; }

.comments { padding: 50px 0 70px; background: #fafafa; }
.comments__in { width: 980px; margin: 0 auto; text-align: center; }
.comments__in .h4 { margin-bottom: 40px; }

.comment > p { font-size: 14px; }
.comment__author { padding-top: 20px; }
.comment__author p { color: #9f9f9f; font-size: 16px; }
.comment__author span { color: #e2e2e2; font-size: 12px; }

.contacts { padding: 90px 0 0; background: url(../img/bg.jpg); }
.contacts__in { width: 980px; margin: 0 auto; text-align: center; }
.contacts__in .h3 { color: white; margin-bottom: 67px; }

.phone { font-size: 70px; font-weight: 300; color: white; }

.adress { margin-bottom: 65px; font-size: 14px; color: white; }

.map { position: relative; height: 365px; }

#YMapsID { width: 100%; height: 100%; overflow: hidden; }

.footer { padding: 48px 0 74px; }
.footer__in { width: 980px; margin: 0 auto; *zoom: 1; }
.footer__in:after { content: " "; display: table; clear: both; }
.footer__content { overflow: hidden; text-align: center; }

.copyrights { float: left; padding-top: 10px; font-size: 14px; color: #bbbbbb; }

.design { float: right; padding-top: 10px; font-size: 14px; }
.design a { color: #fe662a; text-decoration: none; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.design a:hover { color: #fe5411; }

.feedback { width: 230px; height: 40px; background: #fe662a; -moz-transition: bckground 200ms; -o-transition: bckground 200ms; -webkit-transition: bckground 200ms; transition: bckground 200ms; font-size: 12px; color: white; text-transform: uppercase; }

.overlay { position: fixed; top: 0; bottom: 0; right: 0; left: 0; padding: 50px 0; overflow-y: auto; text-align: center; z-index: 999; }
.overlay i { position: fixed; top: 0; bottom: 0; right: 0; left: 0; background: rgba(23, 23, 23, 0.8); }
.overlay:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }

.popup { position: relative; vertical-align: middle; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: white; display: none; box-shadow: 0 0 19px 2px black; }
.popup.is-open { display: inline-block; }
.popup.popup_feedback { width: 350px; padding: 40px 42px 74px; }
.popup.popup_order { width: 640px; padding: 44px 44px 56px; }
.popup.popup_order .btn { width: 228px; }
.popup.popup_info { width: 886px; padding: 50px 50px 120px 35px; }
.popup__close { position: absolute; top: -38px; right: -38px; background: url('../img/icons-sca0bdfb832.png') 0 -20px no-repeat; width: 32px; height: 32px; cursor: pointer; }

.info { *zoom: 1; }
.info:after { content: " "; display: table; clear: both; }
.info__left { float: left; width: 164px; padding-top: 67px; margin-right: 55px; }
.info__left .btn { width: 100%; }
.info__img { margin-bottom: 20px; }
.info__right { float: right; width: 582px; text-align: left; }
.info__right .h3 { color: #3f3f3f !important; text-align: left; }
.info__article > p { margin-bottom: 25px; font-size: 14px; color: #3f3f3f; }
.info__article > p strong { font-weight: 600; }
.info__article img { float: left; margin: 0 20px 20px 0; }
.info .h3 { font-weight: 400; color: black; }

.chars { padding: 20px 37px; margin-bottom: 40px; border: 1px solid #ffeccb; background: #fefdf0; }
.chars__row { *zoom: 1; }
.chars__row:after { content: " "; display: table; clear: both; }
.chars__left { float: left; width: 105px; font-weight: 500; font-size: 14px; }
.chars__right { overflow: hidden; font-size: 14px; }

.form { text-align: left; }
.form .btn { width: 100%; }
.form__row { margin-bottom: 15px; }
.form__title { margin-bottom: 5px; font-weight: 500; font-size: 12px; text-transform: uppercase; }
.form__bottom { text-align: center; }
.form .col50 { width: 48%; float: right; }
.form .col50:first-child { float: left; }

.input { width: 100%; height: 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 10px; font-family: "Exo 2", Arial, sans-serif; font-size: 14px; color: black; background: #e8e8e8; border: 1px solid #e8e8e8; -moz-transition: background 200ms, border-color 200ms; -o-transition: background 200ms, border-color 200ms; -webkit-transition: background 200ms, border-color 200ms; transition: background 200ms, border-color 200ms; }
.input:focus { border-color: #cdcdcd; background: white; }
.input.error { background: white; border-color: #fe2a2a; color: #fe2a2a; }

.textarea { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 60px; resize: none; padding: 5px 10px; border: 1px solid #e8e8e8; background: #e8e8e8; font-family: "Exo 2", Arial, sans-serif; font-size: 14px; -moz-transition: background 200ms, border-color 200ms; -o-transition: background 200ms, border-color 200ms; -webkit-transition: background 200ms, border-color 200ms; transition: background 200ms, border-color 200ms; }
.textarea:focus { border-color: #cdcdcd; background: white; }

.tabs { border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; padding: 15px; margin-bottom: 40px; }
.tabs__list { overflow: hidden; margin-left: -36px; }
.tabs__list li { position: relative; display: inline-block; margin-left: 36px; }
.tabs__list li:before { content: ""; position: absolute; top: 13px; right: -19px; width: 3px; height: 3px; border-radius: 50%; background: #fe662a; }
.tabs__list li:last-child:before { display: none; }
.tabs__list li a { font-size: 15px; text-transform: uppercase; color: #3f3f3f; line-height: 2; text-decoration: none; }
.tabs__list li a:hover { color: #fe662a; }
.tabs__list li.is-active a { color: #fe662a; text-decoration: underline; }

.table { margin-bottom: 50px; }
.table__header { position: relative; padding: 20px 18px 10px; background: #f6f6f6; box-shadow: 0 6px 12px -3px #cccccc; font-weight: 500; font-size: 15px; }
.table__topper { *zoom: 1; border-bottom: 1px solid #e2e2e2; font-size: 14px; font-weight: 400; margin-bottom: 8px; padding-bottom: 5px; }
.table__topper:after { content: " "; display: table; clear: both; }
.table__row { *zoom: 1; }
.table__row:after { content: " "; display: table; clear: both; }
.table__col50 { float: left; width: 50%; text-align: center; }
.table__col33 { float: left; width: 182px; text-align: center; }

.tbody { overflow-y: auto; height: 295px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 1px 0 18px; }
.tbody__in > li { height: 37px; line-height: 37px; border-bottom: 1px solid #e5e5e5; font-size: 14px; font-weight: 300; color: #3f3f3f; }
.tbody__in > li:nth-child(2n) { background: #f6f6f6; }
.tbody__in > li .table__col33 { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-left: 1px solid #e5e5e5; }
.tbody__in > li .table__col33:first-child { border-left: none; }

.help-block { display: none; }

.jspContainer { overflow: hidden; position: relative; }

.jspPane { position: absolute; width: 546px !important; }

.jspVerticalBar { position: absolute; top: 0; right: 0; width: 3px; height: 100%; }

.jspHorizontalBar { position: absolute; bottom: 0; left: 0; width: 100%; height: 16px; background: #333333; }

.jspCap { display: none; }

.jspHorizontalBar .jspCap { float: left; }

.jspTrack { position: relative; width: 3px; background: #e0e0e0; }

.jspDrag { background: #979797; position: relative; top: 0; left: 0px; width: 3px; cursor: pointer; }
.jspDrag:active { background: #8a8a8a; }

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%; }

.jspArrow { background: #50506d; text-indent: -20000px; display: block; cursor: pointer; padding: 0; margin: 0; }

.jspArrow.jspDisabled { cursor: default; background: #80808d; }

.jspVerticalBar .jspArrow { height: 16px; }

.jspHorizontalBar .jspArrow { width: 16px; float: left; height: 100%; }

.jspVerticalBar .jspArrow:focus { outline: none; }

.jspCorner { background: #eeeef4; float: left; height: 100%; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner { margin: 0 -3px 0 0; }
