html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: "Exo 2", Arial, sans-serif; font-size: 12px; line-height: 1.4; }

.h2 { font-size: 36px; text-transform: uppercase; color: white; font-weight: normal; }

.h3 { margin-bottom: 30px; text-align: center; font-size: 24px; font-weight: 300; text-transform: uppercase; color: #3f3f3f; }

.h4 { margin-bottom: 20px; font-size: 18px; font-weight: 500; color: #3f3f3f; text-transform: uppercase; }

.link { display: inline-block; padding: 0 20px; height: 38px; line-height: 38px; border: 1px solid #fe662a; color: #fe662a; text-decoration: none; font-size: 12px; text-transform: uppercase; -moz-transition: background 200ms, color 200ms; -o-transition: background 200ms, color 200ms; -webkit-transition: background 200ms, color 200ms; transition: background 200ms, color 200ms; }
.link:hover { background: #fe662a; color: #050303; }

.box { *zoom: 1; }
.box:after { content: " "; display: table; clear: both; }

.col50 { float: left; width: 50%; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.topper { background: url(../img/bg.jpg); }
.topper__in { width: 980px; margin: 0 auto; }
.topper__in .link { margin-right: 12px; }
.topper__text { margin-bottom: 35px; font-size: 20px; color: white; font-weight: 200; }

.header { margin-bottom: 30px; }
.header__in { *zoom: 1; width: 980px; margin: 0 auto; }
.header__in:after { content: " "; display: table; clear: both; }

.logo { float: left; padding: 12px 0; }
.logo a { display: block; font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-s6a764a7549.png') 0 -50px no-repeat; width: 103px; height: 69px; }

.nav { float: right; padding-top: 55px; }
.nav ul { *zoom: 1; }
.nav ul:after { content: " "; display: table; clear: both; }
.nav ul li { float: left; font-size: 15px; color: white; line-height: 40px; }
.nav ul li a { display: block; padding: 0 22px; height: 40px; line-height: 40px; font-size: 12px; text-transform: uppercase; color: white; text-decoration: none; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; }
.nav ul li a:hover { background: #2a4f84; }
.nav ul li a i { display: inline-block; margin-right: 10px; }
.nav ul li a i.catalog-ico { background: url('../img/icons-s6a764a7549.png') 0 0 no-repeat; width: 12px; height: 10px; }
.nav ul li a i.callback-ico { background: url('../img/icons-s6a764a7549.png') 0 -129px no-repeat; width: 12px; height: 12px; }

.benefits { *zoom: 1; padding-top: 55px; padding-bottom: 35px; margin-left: -15px; }
.benefits:after { content: " "; display: table; clear: both; }
.benefits__item { float: left; width: 230px; margin-left: 15px; }
.benefits__img { min-height: 70px; margin-bottom: 20px; line-height: 1; font-size: 0; }
.benefits__img img { vertical-align: bottom; }
.benefits__text { opacity: 0.8; font-size: 14px; color: white; }

.catalog { padding: 50px 0 55px; }
.catalog__in { width: 980px; margin: 0 auto; }
.catalog__list { display: table; width: 100%; border-collapse: collapse; }
.catalog__row { display: table-row; }
.catalog__item { position: relative; display: table-cell; border: 1px solid #eaeaea; text-align: center; }
.catalog__item:hover .catalog__img { opacity: 0.5; }
.catalog__item:hover .catalog__title { -moz-transform: translateY(-90px); -ms-transform: translateY(-90px); -webkit-transform: translateY(-90px); transform: translateY(-90px); }
.catalog__item:hover .catalog__descr { visibility: visible; opacity: 1; }
.catalog__item:hover .catalog__request { visibility: visible; opacity: 1; }
.catalog__img { padding-top: 20px; font-size: 0; -moz-transition: opacity 200ms; -o-transition: opacity 200ms; -webkit-transition: opacity 200ms; transition: opacity 200ms; }
.catalog__title { min-height: 52px; padding: 20px 0 0; color: #1b3349; font-weight: 700; font-size: 14px; text-transform: uppercase; -moz-transition: -moz-transform 200ms; -o-transition: -o-transform 200ms; -webkit-transition: -webkit-transform 200ms; transition: transform 200ms; }
.catalog__descr { visibility: hidden; opacity: 0; position: absolute; bottom: 84px; left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); text-transform: uppercase; color: #26b2ec; font-size: 12px; text-decoration: none; -moz-transition: opacity 400ms; -o-transition: opacity 400ms; -webkit-transition: opacity 400ms; transition: opacity 400ms; }
.catalog__descr:before { content: ""; position: absolute; bottom: 0; left: 0; right: 0; height: 1px; background: #26b2ec; -moz-transition: opacity 200ms; -o-transition: opacity 200ms; -webkit-transition: opacity 200ms; transition: opacity 200ms; }
.catalog__descr:hover:before { opacity: 0; }
.catalog__request { visibility: hidden; opacity: 0; position: absolute; bottom: 10px; left: 10px; right: 10px; height: 40px; line-height: 40px; background: #fe662a; font-size: 12px; text-transform: uppercase; text-decoration: none; color: white; -moz-transition: opacity 400ms, background 200ms; -o-transition: opacity 400ms, background 200ms; -webkit-transition: opacity 400ms, background 200ms; transition: opacity 400ms, background 200ms; }
.catalog__request:hover { background: #fe5411; }

.deliver { padding: 50px 0 60px; background: #fafafa url(../img/map.png) 50% 50% no-repeat; }
.deliver__in { width: 980px; margin: 0 auto; }
.deliver__list { padding: 0 28px; }
.deliver__price { text-align: center; }
.deliver__price a { display: inline-block; height: 40px; line-height: 40px; padding: 0 18px; background: #2a4f84; font-size: 12px; text-transform: uppercase; color: white; text-decoration: none; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; }
.deliver__price a:hover { background: #244371; }

.subtitle { margin-bottom: 55px; text-align: center; font-weight: 300; text-transform: uppercase; color: #a7a9ac; font-size: 14px; }

.list { margin-bottom: 35px; }
.list li { position: relative; padding-left: 28px; margin-top: 15px; font-size: 14px; color: #3f3f3f; }
.list li:first-child { margin-left: 0; }
.list li:before { content: ""; position: absolute; top: 5px; left: 0; width: 7px; height: 7px; background: #fe662a; }

.economy { padding: 55px 0 45px; }
.economy__in { width: 980px; margin: 0 auto; }
.economy__list { *zoom: 1; margin-left: -40px; }
.economy__list:after { content: " "; display: table; clear: both; }
.economy__item { float: left; width: 300px; margin-left: 40px; }
.economy__item > p { font-size: 14px; color: #3f3f3f; }
.economy__img { height: 186px; margin-bottom: 20px; background: #d7d7d7; }

.slick { padding-top: 50px; }

.slick-dots { position: absolute; top: 0; left: 0; right: 0; }
.slick-dots li { display: inline-block; margin: 0 11px; }
.slick-dots li button { font: 0/0 a; text-shadow: none; color: transparent; width: 7px; height: 7px; background: #dedede; }
.slick-dots li.slick-active button { background: #2a4f84; }

.comments { padding: 50px 0 70px; background: #fafafa; }
.comments__in { width: 980px; margin: 0 auto; text-align: center; }
.comments__in .h4 { margin-bottom: 40px; }

.comment > p { font-size: 14px; }
.comment__author { padding-top: 20px; }
.comment__author p { color: #9f9f9f; font-size: 16px; }
.comment__author span { color: #e2e2e2; font-size: 12px; }
