body
	font-family: 'Exo 2', Arial, sans-serif
	font-size: 12px 
	line-height: 1.4

=wrap
	width: 980px
	margin: 0 auto
	
//colors
$orange: #fe662a
$blue: #2a4f84	

.h2
	font-size: 36px
	text-transform: uppercase
	color: #fff
	font-weight: normal
	
.link
	display: inline-block
	padding: 0 20px
	height: 38px
	line-height: 38px
	border: 1px solid $orange
	color: $orange
	text-decoration: none
	font-size: 12px
	text-transform: uppercase
	+transition(background 200ms, color 200ms)
	&:hover
		background: $orange 
		color: #050303












































































































