// Normally mainpage styles
.topper
	background: url(../img/bg.jpg) 
	&__in
		+wrap
		.link
			margin-right: 12px
	&__text
		margin-bottom: 35px
		font-size: 20px
		color: #fff
		font-weight: 200  	
//header
.header
	margin-bottom: 30px
	&__in
		+clr
		+wrap
.logo
	float: left
	padding: 12px 0 
	a
		display: block
		+hide-text
		+s(logo)
.nav
	float: right
	padding-top: 55px
	ul
		+clr
		li
			float: left
			font-size: 15px
			color: #fff
			line-height: 40px
			a
				display: block
				padding: 0 22px
				height: 40px
				line-height: 40px
				font-size: 12px
				text-transform: uppercase
				color: #fff
				text-decoration: none
				+tr(background 200ms)
				&:hover
					background: $blue
				i
					display: inline-block
					margin-right: 10px
					&.catalog-ico
						+s(catalog)
					&.callback-ico
						+s(phone)		   				
.benefits
	+clr
	padding-top: 55px
	padding-bottom: 35px
	margin-left: -15px
	&__item
		float: left
		width: 230px
		margin-left: 15px
	&__img
		min-height: 70px
		margin-bottom: 20px
		line-height: 1 			
		font-size: 0
		img
			vertical-align: bottom
	&__text
		opacity: 0.8
		font-size: 14px
		color: #fff
		
//catalog
.catalog
	padding: 50px 0 55px
	&__in
		+wrap
	&__list
		display: table
		width: 100% 
		border-collapse: collapse
	&__row
		display: table-row
	&__item
		position: relative
		display: table-cell
		border: 1px solid #eaeaea
		text-align: center
		&:hover
			.catalog__img
				opacity: 0.5
			.catalog__title
				+transform(translateY(-90px))
			.catalog__descr
				visibility: visible
				opacity: 1
			.catalog__request
				visibility: visible
				opacity: 1 	 		 
	&__img
		padding-top: 20px
		font-size: 0
		+tr(opacity 200ms)
	&__title
		min-height: 52px
		padding: 20px 0 0 
		color: #1b3349
		font-weight: 700
		font-size: 14px
		text-transform: uppercase
		+tr(transform 200ms)
	&__descr
		visibility: hidden
		opacity: 0
		position: absolute
		bottom: 84px
		left: 50%
		+transform(translateX(-50%))
		text-transform: uppercase
		color: #26b2ec
		font-size: 12px
		text-decoration: none
		+tr(opacity 400ms)
		&:before
			content: ""
			position: absolute
			bottom: 0
			left: 0
			right: 0
			height: 1px
			background: #26b2ec
			+tr(opacity 200ms)
		&:hover
			&:before
				opacity: 0  	
	&__request
		visibility: hidden
		opacity: 0 
		position: absolute
		bottom: 10px
		left: 10px
		right: 10px
		height: 40px
		line-height: 40px
		background: $orange 
		font-size: 12px
		text-transform: uppercase
		text-decoration: none
		color: #fff
		+transition(opacity 400ms, background 200ms)
		&:hover
			background: darken($orange, 5%)

// deliver
.deliver
	padding: 50px 0 60px 
	background: #fafafa url(../img/map.png) 50% 50%	no-repeat		   		 	 				
	&__in
		+wrap
	&__list
		padding: 0 28px
	&__price
		text-align: center
		a
			display: inline-block
			height: 40px
			line-height: 40px
			padding: 0 18px
			background: $blue
			font-size: 12px
			text-transform: uppercase
			color: #fff
			text-decoration: none
			+tr(background 200ms)
			&:hover
				background: darken($blue, 5%) 
.subtitle
	margin-bottom: 55px
	text-align: center
	font-weight: 300
	text-transform: uppercase
	color: #a7a9ac
	font-size: 14px
.list
	margin-bottom: 35px 
	li
		position: relative
		padding-left: 28px
		margin-top: 15px
		font-size: 14px
		color: #3f3f3f
		&:first-child
			margin-left: 0
		&:before
			content: ""
			position: absolute
			top: 5px
			left: 0
			width: 7px
			height: 7px
			background: $orange

//economy
.economy
	padding: 55px 0 45px 
	&__in
		+wrap
	&__list
		+clr
		margin-left: -40px
	&__item
		float: left
		width: 300px
		margin-left: 40px
		& > p
			font-size: 14px
			color: #3f3f3f
	&__img
		height: 186px
		margin-bottom: 20px
		background: #d7d7d7 
		
// comments
.slick
	padding-top: 50px
.slick-dots
	position: absolute
	top: 0
	left: 0
	right: 0
	li
		display: inline-block
		margin: 0 11px
		button
			+hide-text
			width: 7px
			height: 7px
			background: #dedede
		&.slick-active
			button
				background: $blue 
.comments
	padding: 50px 0 70px 
	background: #fafafa
	&__in
		+wrap
		text-align: center
		.h4
			margin-bottom: 40px
.comment
	& > p
		font-size: 14px
	&__author
		padding-top: 20px
		p
			color: #9f9f9f
			font-size: 16px
		span
			color: #e2e2e2
			font-size: 12px
			
//contacts
.contacts
	padding: 90px 0 0 
	background: url(../img/bg.jpg)									
	&__in
		+wrap
		text-align: center			
		.h3
			color: #fff
			margin-bottom: 67px
.phone
	font-size: 70px
	font-weight: 300
	color: #fff
.adress
	margin-bottom: 65px 
	font-size: 14px
	color: #fff  			
.map
	position: relative
	height: 365px 			  		
#YMapsID
	width: 100%
	height: 100%
	overflow: hidden
	
// footer
.footer
	padding: 48px 0 74px 
	&__in
		+wrap
		+clr
	&__content
		overflow: hidden
		text-align: center	
.copyrights
	float: left
	padding-top: 10px
	font-size: 14px
	color: #bbb
.design
	float: right
	padding-top: 10px
	font-size: 14px
	a
		color: $orange
		text-decoration: none
		+tr(color 200ms)
		&:hover
			color: darken($orange, 5%)
.feedback
	width: 230px
	height: 40px
	background: $orange
	+tr(bckground 200ms)
	font-size: 12px
	color: #fff
	text-transform: uppercase
	
//popups
.overlay
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	overflow-y: auto
	text-align: center
	z-index: 999
	i
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		background: rgba(#171717, 0.8)
	&:before
		content: ""
		display: inline-block
		width: 0
		height: 100%
		vertical-align: middle
.popup
	position: relative
	vertical-align: middle
	+box
	background: #fff 
	display: none
	box-shadow: 0 0 19px 2px #000
	&.is-open
		display: inline-block
	&.popup_feedback
		width: 350px
		padding: 40px 42px 74px
	&.popup_order
		width: 640px
		padding: 44px 44px 56px
		.btn
			width: 228px
	&.popup_info
		width: 886px
		padding: 50px 50px 120px 35px  		   	
	&__close
		position: absolute
		top: -38px
		right: -38px
		+s(close)
		cursor: pointer
.info
	+clr
	&__left
		float: left
		width: 164px
		padding-top: 67px
		margin-right: 55px
		.btn
			width: 100%
	&__img
		margin-bottom: 20px
	&__right
		float: right
		width: 582px
		text-align: left
		.h3
			color: #3f3f3f!important
			text-align: left
	&__article
		& > p
			margin-bottom: 15px
			font-size: 14px
			color: #3f3f3f 				
	.h3
		font-weight: 400
		color: #000
.form
	text-align: left
	.btn
		width: 100% 
	&__row
		margin-bottom: 15px
	&__title
		margin-bottom: 5px
		font-weight: 500
		font-size: 12px
		text-transform: uppercase
	&__bottom
		text-align: center	
	.col50
		width: 48%
		float: right
		&:first-child
			float: left	
.input
	width: 100% 		  		 		 
	height: 30px
	+box
	padding: 0 10px
	font-family: 'Exo 2', Arial, sans-serif
	font-size: 14px
	color: #000
	background: #e8e8e8  
	border: 1px solid #e8e8e8
	+transition(background 200ms, border-color 200ms)
	&:focus
		border-color: #cdcdcd
		background: #fff 
.textarea
	+box
	width: 100%
	height: 60px
	resize: none
	padding: 5px 10px 
	border: 1px solid #e8e8e8
	background: #e8e8e8
	font-family: 'Exo 2', Arial, sans-serif
	font-size: 14px
	+transition(background 200ms, border-color 200ms) 	 
	&:focus
		border-color: #cdcdcd
		background: #fff
.tabs
	border-top: 1px solid #eaeaea		
	border-bottom: 1px solid #eaeaea
	padding: 15px
	margin-bottom: 40px
	&__list
		overflow: hidden
		margin-left: -36px
		li
			position: relative
			display: inline-block
			margin-left: 36px
			&:before
				content: ""
				position: absolute
				top: 13px
				right: -19px
				width: 3px
				height: 3px
				border-radius: 50%
				background: $orange
			&:last-child
				&:before
					display: none	 
			a
				font-size: 15px
				text-transform: uppercase
				color: #3f3f3f
				line-height: 2
				text-decoration: none
				&:hover
					color: $orange
				&.is-active
					color: $orange
					text-decoration: underline	
		 













































































































































































































